<div class="container">
    <div class="wrapper">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name),html:{class:"form-signin"}) do |f| %>
        <h3 class="form-signin-heading">Scuria Sign In</h3>
        <hr class="colorgraph"><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", :placeholder => "Email"%>
        <%= f.password_field :password, autocomplete: "current-password",class:"form-control", :placeholder => "Password" %>
        <%= f.submit "Log in" ,class:"btn btn-lg btn-primary btn-block"%>
        <%= render "devise/shared/links" %>
        <% end %>
    </div>
</div>